<div id="lightbox">
    <div class="container">
        <div id="lightbox_outter_content_wrap">
            <div id="lightbox_outter_content">
                <div class="lightbox_button_wrap lightbox_button_wrap_right">
                    <div class="lightbox_buttons top_lightbox_buttons">
                        <div class="lightbox_button">
                            <div class="button_icon" id="button_icon_close"></div>
                        </div>
                    </div>
                </div>
                <div id="lightbox_inner_content_wrap">
                    <div id="lightbox_inner_content">
                        <div id="lightbox_content">
                            <h3>Official Citation</h3>
                            <p>The President of the United States of America, authorized by Act of Congress, March 3, 1863, has awarded in the name of Congress the Medal of Honor to</p>
                            <h3 id="citation_title">Sergeant William Shemin</h3>
                            <h4 id="citation_subtitle">United States Army</h4>
                            <p>For conspicuous gallantry and intrepidity at the risk of his life above and beyond the call of duty:</p>
                            <p>Sergeant Shemin distinguished himself by acts of gallantry and intrepidity above and beyond the call of duty while serving as a Rifleman with G Company, 2d Battalion, 47th Infantry Regiment, 4th Division, American Expeditionary
                                Forces, in connection with combat operations against an armed enemy on the Vesle River, near Bazoches, France from August 7 to August 9, 1918. Sergeant Shemin left cover and crossed open space, repeatedly exposing himself
                                to heavy machine-gun and rifle fire, to rescue wounded. After Officers and Senior Noncommissioned Officers had become casualties, Sergeant Shemin took command of the platoon and displayed great initiative under fire until
                                wounded on August 9. Sergeant Shemin’s extraordinary heroism and selflessness, above and beyond the call of duty, are in keeping with the highest traditions of the military service and reflect great credit upon himself,
                                his unit, and the United States Army.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>