#ceremony {
  background-color: $section-divider-color;
  padding-bottom: 15px;
  .ceremony_images {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    .ceremony_images_wrap {
      position: relative;
      margin-bottom: 15px;
      float: left;
      width: 33%;
      @include breakpoint(mobile) {
        float: none;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
      }

      @include breakpoint(tablet) {
        width: 50%;
      }

      img {
        margin-left: 4%;
        margin-right: 4%;
        max-width: 92%;
      }
    }
    .ceremony_image_btn:hover {
      .ceremony_images_overlay {
        position: absolute;
        top: 0;
        background-color: rgba($civil-war-conflict-color, 0.5);
        width: 92%;
        height: 97%;
        margin-left: 4%;
        word-wrap: break-word;
      }
    }
  }
  .button_wrap {
    margin-bottom: 15px;
    width: 33%;
    @include breakpoint(tablet) {
      width: 50%;
    }
    
    @include breakpoint(mobile) {
      width: 100%;
    }
    
    .button_wrap_inner {
      margin-left: 4%;
    }
  }
}
