//Conflict Colors
$civil_war_conflict_color:#665a40;
$body_background_color: #faf9f8;
$accent_color: #e3e2dc;
$text_base_color: #343330;
$divider_color: #bbbbbb;

$conflict_color:$civil_war_conflict_color;

$section_divider_color: $accent_color;
$menu_background_color:$section_divider_color;

// Controls
$main_background_color: #CBC9BC;
$main_text_color: #343331;

// Video List
$list_background_color: $body_background_color;
$list_hover_color: #E3E2DE;
$list_current_color: #343331;
$list_text_current_color:#0C59AB;
$list_text_duration_color: #BDBDBD;