$path: "/e2/rv5_images/medalofhonor/shemin/";
$yt_path: "/e2/rv5_images/youtube_player/";

$sprite: $path+"sprite.png";

$yt_sprite: $yt_path+"yt_sprite.png";

$audio_svg: $yt_path + "audio.svg";
$audio_png: $yt_path + "audio.png";

//Logos
$logo: $path+"graphics/logo/shemin_logo_2x.png";
$stacked_logo: $path+"graphics/logo/shemin_logo_stacked_2x.png";
$stacked_logo_abbrev: $path+ "graphics/logo/cushing_logo_abbreviated_2x.png";

//Logo sprite
$logo_sprite: $path+"graphics/logo/shemin_logo_sprite.png";

//Lightbox
$lightbox_background: $path+"bg.png";

$close_button_png: $path+"graphics/close.png";
$close_button_svg: $path+"graphics/close.svg";

$close_button_hover_png: $path+"graphics/close_hover.png";
$close_button_hover_svg: $path+"graphics/close_hover.svg";

//Profile
$masthead_logo_SVG: $path+"graphics/logo_masthead.svg";
$masthead_logo_PNG: $path+"graphics/logo_masthead.png";

//Download Icon
$download_png: $path+"graphics/download.png";
$download_svg: $path+"graphics/download.svg";

//Multimedia:
$multimedia_overlay_background: $path+"graphics/image_hover.png";

$info_moh_total_png: $path+"graphics/124.png";
$info_moh_total_svg: $path+"graphics/124.svg";

$info_moh_army_png: $path+"graphics/95.png";
$info_moh_army_svg: $path+"graphics/95.svg";

$arrow-right-png: $path + "graphics/arrows/arrow_right.png";
$arrow-right-svg: $path + "graphics/arrows/arrow_right.svg";

$arrow-right-hover-png: $path + "graphics/arrows/arrow_right_hover.png";
$arrow-right-hover-svg: $path + "graphics/arrows/arrow_right_hover.svg";

$arrow-left-png: $path + "graphics/arrows/arrow_left.png";
$arrow-left-svg: $path + "graphics/arrows/arrow_left.svg";

$arrow-left-hover-png: $path + "graphics/arrows/arrow_left_hover.png";
$arrow-left-hover-svg: $path + "graphics/arrows/arrow_left_hover.svg";

//Mastheads:
$size_1: $path+"masthead/320.jpg";
$size_2: $path+"masthead/360.jpg";
$size_3: $path+"masthead/480.jpg";
$size_4: $path+"masthead/720.jpg";
$size_5: $path+"masthead/768.jpg";
$size_6: $path+"masthead/992.jpg";
$size_7: $path+"masthead/1024.jpg";
$size_8: $path+"masthead/1200.jpg";
$size_9: $path+"masthead/1280.jpg";
$size_10: $path+"masthead/1366.jpg";
$size_11: $path+"masthead/1440.jpg";
$size_12: $path+"masthead/1600.jpg";
$size_13: $path+"masthead/1680.jpg";
$size_14: $path+"masthead/1920.jpg";
$size_15: $path+"masthead/2500.jpg";

$headstone_size_1: $path+"headstone/320.jpg";
$headstone_size_2: $path+"headstone/360.jpg";
$headstone_size_3: $path+"headstone/480.jpg";
$headstone_size_4: $path+"headstone/720.jpg";
$headstone_size_5: $path+"headstone/768.jpg";
$headstone_size_6: $path+"headstone/992.jpg";
$headstone_size_7: $path+"headstone/1024.jpg";
$headstone_size_8: $path+"headstone/1200.jpg";
$headstone_size_9: $path+"headstone/1280.jpg";
$headstone_size_10: $path+"headstone/1366.jpg";
$headstone_size_11: $path+"headstone/1440.jpg";
$headstone_size_12: $path+"headstone/1600.jpg";
$headstone_size_13: $path+"headstone/1680.jpg";
$headstone_size_14: $path+"headstone/1920.jpg";
$headstone_size_15: $path+"headstone/2500.jpg";



