$screen-mobile-min: 390px;
$screen-mobile-max: 480px;
$screen-tablet-mid: 583px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-md-max: 1085px;
$screen-lg-min: 1200px;

$image-sizes: 320px, 360px, 480px, 720px, 768px, 992px, 1024px, 1200px, 1280px, 1366px, 1440px, 1600px, 1680px, 1920px;

$responsive: true;

@mixin breakpoint($points) {
  @each $point in $points {
    @include do-breakpoint(#{$point}) {
      @content;
    }
  }
}

@mixin do-breakpoint($point) {
  @if $responsive {
    //Small devices (phones, less than 768px)
    @if $point == sub_mobile {
      // 390 and below
      @media (max-width: $screen-mobile-min - 1) {
        @content;
      }
    }
    @else if $point == mobile {
      //480 and below
      @media (max-width: $screen-mobile-max) {
        @content;
      }
    }
    @else if $point == tablet {
      //481 - 768
      @media (min-width: $screen-mobile-max + 1) and (max-width: $screen-sm-min) {
        @content;
      }
    }
    @else if $point == mid_tablet {
      @media (min-width: $screen-tablet-mid) and (max-width: $screen-sm-min) {
        @content;
      }
    }
    @else if $point == big_tablet {
      // 769 - 1084
      @media (min-width: $screen-sm-min + 1) and (max-width: $screen-md-max - 1) {
        @content;
      }
    }
    @else if $point == sm_desktop {
      // 1085 - 1199
      @media (min-width: $screen-md-max) and (max-width: $screen-lg-min - 1) {
        @content;
      }
    }
    @else if $point == desktop {
      //992 and above
      @media (min-width: $screen-md-min) {
        @content;
      }
    }
    @else if $point == large {
      @media (min-width: $screen-lg-min) {
        @content;
      }
    }
  }
}

@mixin masthead($size) {
  @if $responsive {
    @if $size == one {
      @media (max-width: nth($image-sizes, 1)) {
        @content;
      }
    }
    @else if $size == two {
      @media (min-width: nth($image-sizes, 1)) and (max-width: nth($image-sizes, 2)) {
        @content;
      }
    }
    @else if $size == three {
      @media (min-width: nth($image-sizes, 2)) and (max-width: nth($image-sizes, 3)) {
        @content;
      }
    }
    @else if $size == four {
      @media (min-width: nth($image-sizes, 3)) and (max-width: nth($image-sizes, 4)) {
        @content;
      }
    }
    @else if $size == five {
      @media (min-width: nth($image-sizes, 4)) and (max-width: nth($image-sizes, 5)) {
        @content;
      }
    }
    @else if $size == six {
      @media (min-width: nth($image-sizes, 5)) and (max-width: nth($image-sizes, 6)) {
        @content;
      }
    }
    @else if $size == seven {
      @media (min-width: nth($image-sizes, 6)) and (max-width: nth($image-sizes, 7)) {
        @content;
      }
    }
    @else if $size == eight {
      @media (min-width: nth($image-sizes, 7)) and (max-width: nth($image-sizes, 8)) {
        @content;
      }
    }
    @else if $size == nine {
      @media (min-width: nth($image-sizes, 8)) and (max-width: nth($image-sizes, 9)) {
        @content;
      }
    }
    @else if $size == ten {
      @media (min-width: nth($image-sizes, 9)) and (max-width: nth($image-sizes, 10)) {
        @content;
      }
    }
    @else if $size == eleven {
      @media (min-width: nth($image-sizes, 10)) and (max-width: nth($image-sizes, 11)) {
        @content;
      }
    }
    @else if $size == twelve {
      @media (min-width: nth($image-sizes, 11)) and (max-width: nth($image-sizes, 12)) {
        @content;
      }
    }
    @else if $size == thirteen {
      @media (min-width: nth($image-sizes, 12)) and (max-width: nth($image-sizes, 13)) {
        @content;
      }
    }
    @else if $size == fourteen {
      @media (min-width: nth($image-sizes, 13)) and (max-width: nth($image-sizes, 14)) {
        @content;
      }
    }
    @else if $size == fifteen {
      @media (min-width: nth($image-sizes, 14)) {
        @content;
      }
    }
  }
}
