#army_news {
	background-color: lighten($accent-color, 10);
	
	.news {
		overflow: hidden;
		margin-bottom: 50px;
		
		#news_section, #ext_news_section{
			padding-bottom: 500em;
			margin-bottom: -500em;
			@include breakpoint(mobile){
				padding-bottom: 0;
				margin-bottom: 0;
			}
		}
		
		#news_section{
			@include span(8);
			@include breakpoint(mobile){
				@include span(12);
				border: 0;
				border-bottom: 1px solid #999;
				margin-bottom: 20px;
			}
		}
		
		.more_news_wrap{
			@include row();
			@include breakpoint(mobile){
				margin-bottom: 30px;
			}
			.inner_wrap{
				@include span(6);
			}
		}
		
		.news_stories{
			@include row();
			.news_story{
				position:relative;
				@include span(6);
				@include breakpoint(mobile){
					@include span(12);
				}
			}
			.news_story{
				img{
					width: 100%;
				}
				
				p{
					margin-top: 10px;
					margin-bottom: 30px;
					text-align: left;
					font-weight: bold;
				}
			}
		}
		
		#ext_news_section_wrap{
			@include span(4);
			@include breakpoint(mobile){
				@include span(12);
			}
		}
		
		#ext_news_section{
			border-left: 1px solid $divider_color;
			padding-left: 20px;			
			h3{
				margin-bottom: 10px;
				@include accentFont();
				font-weight: bold;
				text-transform: uppercase;
			}
			
			a{
				display:block;
				margin-bottom: 10px;
				span{
					font-weight: bold;
				}
			}
			
			@include breakpoint(mobile){
				border-left:none;
				padding-left: 0;
			}
		}
	}
}