#content {
    .ytContainer {
        margin-bottom: 50px;
        position: relative;
        width: 100%;
        background-color: $main_background_color;
        color: $main_text_color;
        font-family: sans-serif;
        
        @include old-ie {
            min-width: 768px;
        }

        .clearboth {
            clear: both;
            width: 100%;
            height: 0;
            overflow: hidden;
            display: block;
        }
        .tempfiller {
            height: 100px;
        }
        #ytOverlay, #playlistOverlay {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: absolute;
            background-color: #CCC;
            @include Opacity(0.7);
            z-index: 2;
        }
        #playlistOverlay {
            display: none;
        }

        .ytPlayer {
            width: 60%;
            // height: 450px;
            float: left;
            position: relative;
            z-index: 1;
            @include breakpoint(tablet mobile) {
                float: none;
                width: 100%;
            }
            .iframe_embed_container {
                height: 0;
                overflow: hidden;
                padding-bottom: 56.25%;
                padding-top: 30px;
                
                iframe {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .ytPlaylist {
            border-right: 1px solid $main_background_color;
            position: absolute;
            font-size: 0.8em;
            line-height: 1.3em;
            width: 40%;
            height: 100%;
            right: 0;
            top: 0;
            display: none;
            @include breakpoint(tablet mobile) {
                width: 100%;
                position: relative;
            }

            .PlaylistInfo {
                position: relative;
                height: 92px;
                padding: 4px 5%;
                
                @include breakpoint(tablet mobile) {
                    padding: 4px 43px 4px 5%;
                    height: auto;
                    cursor: pointer;
                }
        
                h2 {
                    margin: 0.6em 0;
                    font-size: 1.2em;
                    line-height: 1.4em;
                    font-weight: bold;
                    text-align: left;
                    @include breakpoint(tablet mobile) {
                        margin: 0.2em 0;
                        line-height: inherit;
                    }
                }
                .controls {
                    border-top: 2px solid $list_current_color;
                    bottom: 0;
                    left: 5%;
                    padding: 8px 0;
                    position: absolute;
                    width: 90%;
                    @include breakpoint(tablet mobile) {
                        width: auto;    
                        border-top-width: 0;
                        position: static;
                    }

                    .nav {
                        float: left;
                        @include breakpoint(tablet mobile) {
                            display: none;
                        }
                        a {
                            background-image: url($yt_sprite);
                            background-repeat: no-repeat;
                            cursor: pointer;
                            display: block;
                            float: left;
                            height: 16px;
                            margin: 0 14px 0 4px;
                            overflow: hidden;
                            width: 15px;
                            
                            &.prev {
                                background-position: 0px 0px;
                                &:hover, &:focus {
                                    background-position: -32px 0px;
                                }
                            }
                            &.next {
                                background-position: -14px 0px;
                                &:hover, &:focus {
                                    background-position: -46px 0px;
                                }
                            }
                        }
                    }
                    .pos {
                        float: right;
                        @include breakpoint(tablet mobile) {
                            float: none;
                        }
                    }
                }
                .expand {
                    display: none;
                    background-image: url($yt_sprite);
                    background-repeat: no-repeat;
                    background-position: -82px 0px;
                    position: absolute;
                    height: 10px;
                    width: 19px;
                    margin-top: -5px;
                    top: 50%;
                    bottom: 0;
                    right: 15px;
                    @include breakpoint(tablet mobile) {
                        display: block;
                    }
                }
            }
            
            &.show {
                ul {
                    @include breakpoint(tablet mobile) {
                        display: block;
                    }
                }
                .expand {
                    background-position: -62px 0;
                }
            }
            ul {
                background-color: $list_background_color;
                border-bottom: 1px solid $main_background_color;
                width: 100%;
                position: absolute;
                left: 0;
                bottom: 0;
                top: 100px;
                overflow-y: auto;
                list-style: none;
                margin: 0;
                padding: 0;
                @include breakpoint(tablet mobile) {
                    display: none;
                    position: static;
                    height: auto;
                    overflow-y: unset;
                }
                
                li {
                    margin: 0;
                    padding: 8px 65px 8px 14%;
                    position: relative;
                    
                    &:hover, &:focus {
                        background-color: $list_hover_color;
                        
                        .v_playsymbol {
                            display: block;
                        }
                        .v_position {
                            display: none;
                        }
                    }
                    
                    .v_position, .v_playsymbol {
                        position: absolute;
                        top: 8px;
                        left: 5%;
                        width: 12px;
                        height: 1.1em;
                        text-align: right;
                        overflow: hidden;
                    }
                    
                    .v_playsymbol {
                        background-image: url($yt_sprite);
                        background-repeat: no-repeat;
                        background-position: -101px 3px;
                        display: none;
                        // margin-left: 3px;
                    }
                    
                    .v_download {
                        background-image: url($yt_sprite);
                        background-repeat: no-repeat;
                        background-position: -126px 0;
                        height: 10px;
                        width: 11px;
                        position: absolute;
                        top: 10px;
                        right: 15px;
                        
                        @include breakpoint(mobile tablet) {
                            display: none;
                        }
                        
                        &:hover,&:focus {
                            background-image: url($yt_sprite);
                            background-repeat: no-repeat;
                            background-position: -138px 0;
                        }
                    }
                    
                    &.current {
                        cursor: inherit;
                        color: $list_text_current_color;
                        
                        .v_playsymbol {
                            background-image: url($yt_sprite);
                            background-repeat: no-repeat;
                            background-position: -114px 3px;
                            display: block;
                        }
                        .v_position {
                            display: none;
                        }
                        .v_duration {
                            color: $list_text_current_color;
                        }
//                        .v_download {
//                            background-image: url($yt_sprite);
//                            background-repeat: no-repeat;
//                            background-position: -138px 0;
//                        }
                    }
                    
                    &.playing {
                        .v_playsymbol {
                            background-position: center center;
                            @include yep('svg') {
                                background-image: url($audio_svg);
                            }
                            @include nope('svg') {
                                background-image: url($audio_png);
                            }
                            display: block;
                            height: 18px;
                            width: 20px;
                        }
                    }
                    
                    .v_duration {
                        color: $list_text_duration_color;
                        float: left;
                        width: 100%;
                    }
                }
            }
        }
    }
}