@import "reset";
@import "modernizr";
@import "defaults";
@import "colors";
@import "images";
@import "spans";
@import "fonts";
@import "mixins";
@import "media_queries";
@import "youtube";
@import "footer";
@import "lightbox";
@import "multimedia";
@import "top_bar";
@import "ceremony";

html {
  overflow-y: scroll;
}

body {
  background-color: $conflict-color;
  #featureBar {
    display: block;
    position: fixed;
    top: 0;
    z-index: 8501;
    &.fb_collapsed {
      @include fb-collapsed;
    }
    @include breakpoint(sm_desktop big_tablet tablet mobile) {
      @include fb-collapsed;
    }
  }
  a {
    text-decoration: none;
    color: lighten($text-base-color, 20);
    &:hover, &:focus, &:active {
      color: darken($text-base-color, 20);
    }
  }
  margin-bottom: 100px;
  color: $text-base-color;
  p {
    text-align: justify;
    @include breakpoint(mobile) {
      text-align: left;
    }

    &.download {
      font-size: smaller;
      margin-top: 5px;
      @include breakpoint(tablet mobile) {
        display: none;
      }

      span {
        background-repeat: no-repeat;
        display: block;
        float: left;
        height: 11px;
        margin-top: 4px;
        margin-right: 3px;
        width: 11px;
        @include yep(svg) {
          background-image: url($download-svg);
        }

        @include nope(svg) {
          background-image: url($download-png);
        }
      }
    }
  }
  #addThisBackground {
    display: none;
    @include breakpoint(mobile) {
      position: fixed;
      height: 45px;
      width: 100%;
      bottom: 0;
      display: block;
      background-color: $conflict-color;
    }
  }
}

@import "top_bar";

.masthead_buffer {
  height: 80px;
  @include breakpoint(sm_desktop) {
    height: 50px;
  }

  @include breakpoint(big_tablet tablet mobile) {
    height: 66px;
  }
}

.full_width_image {
  background-color: $conflict-color;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: absolute;
  width: 100%;
  &#profile_image {
    // default image
    background-image: url($size-15);
    @include masthead(one) {
      background-image: url($size-1);
    }

    @include masthead(two) {
      background-image: url($size-2);
    }

    @include masthead(three) {
      background-image: url($size-3);
    }

    @include masthead(four) {
      background-image: url($size-4);
    }

    @include masthead(five) {
      background-image: url($size-5);
    }

    @include masthead(six) {
      background-image: url($size-6);
    }

    @include masthead(seven) {
      background-image: url($size-7);
    }

    @include masthead(eight) {
      background-image: url($size-8);
    }

    @include masthead(nine) {
      background-image: url($size-9);
    }

    @include masthead(ten) {
      background-image: url($size-10);
    }

    @include masthead(eleven) {
      background-image: url($size-11);
    }

    @include masthead(twelve) {
      background-image: url($size-12);
    }

    @include masthead(thirteen) {
      background-image: url($size-13);
    }

    @include masthead(fourteen) {
      background-image: url($size-14);
    }

    @include masthead(fifteen) {
      background-image: url($size-15);
    }

    //CSS for SVG on profile page
    #moh_svg {
      width: percentage(569 / 1200);
      height: percentage(135 / 675);
      background-repeat: no-repeat;
      position: absolute;
      bottom: percentage(55 / 1200);
      left: percentage(35 / 675);
      @include yep("svg") {
        background-size: contain;
        background-image: url($masthead-logo-SVG);
      }

      @include nope("svg") {
        background-image: url($masthead-logo-PNG);
        width: 299px;
        height: 70px;
      }
    }
  }
  &#headstone_image {
    // default image
    background-image: url($headstone-size-15);
    //background-position: center center, center top;
    //background-repeat: repeat, no-repeat;
    @include masthead(one) {
      background-image: url($headstone-size-1);
    }

    @include masthead(two) {
      background-image: url($headstone-size-2);
    }

    @include masthead(three) {
      background-image: url($headstone-size-3);
    }

    @include masthead(four) {
      background-image: url($headstone-size-4);
    }

    @include masthead(five) {
      background-image: url($headstone-size-5);
    }

    @include masthead(six) {
      background-image: url($headstone-size-6);
    }

    @include masthead(seven) {
      background-image: url($headstone-size-7);
    }

    @include masthead(eight) {
      background-image: url($headstone-size-8);
    }

    @include masthead(nine) {
      background-image: url($headstone-size-9);
    }

    @include masthead(ten) {
      background-image: url($headstone-size-10);
    }

    @include masthead(eleven) {
      background-image: url($headstone-size-11);
    }

    @include masthead(twelve) {
      background-image: url($headstone-size-12);
    }

    @include masthead(thirteen) {
      background-image: url($headstone-size-13);
    }

    @include masthead(fourteen) {
      background-image: url($headstone-size-14);
    }

    @include masthead(fifteen) {
      background-image: url($headstone-size-15);
    }
  }
  // #ceremony_quote isn't in html code - just keeping the css here in case we want it in the future
  #ceremony_quote {
    @include accentFont;
    bottom: 0;
    color: #fff;
    left: 0;
    position: absolute;
    right: 0;
    padding: 0 10px;
    @include breakpoint(mobile) {
      display: none;
    }

    // set these as defaults for older browsers
    // check for rgba compatability first
    @include yep("rgba") {
      background-color: rgba(0, 0, 0, 0.6);
    }

    // if not, use the image
    @include nope("rgba") {
      background-image: url($lightbox-background);
      background-repeat: repeat;
    }

    h3.container {
      margin: 25px auto;
    }
    // then check for gradients compatability
    // and set background-color to transparent to remove the rgba
    // since that is the default and we dont want it if we can do gradients
    @include yep("cssgradients") {
      background-color: transparent;
      @include linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
      h3.container {
        margin-bottom: 25px;
        margin-top: 115px;
      }
    }
  }
}

#headstone_quote {
  background-color: $section-divider-color;
  @include row;
  @include accentFont;
  padding: 15px 0;
  h5 {
    font-weight: bold;
  }
}

.masthead_container {
  padding: 0 0 56.25%;
  position: relative;
  width: 100%;
}

div.button {
  float: left;
  background-color: lighten($accent-color, 10);
  &:hover, &:focus, &:active {
    background-color: lighten($text-base-color, 20);
    a {
      color: lighten($accent-color, 10);
    }
  }
  a {
    display: block;
    text-align: center;
    padding: 5px 10px;
    color: lighten($text-base-color, 20);
    border: 2px solid lighten($text-base-color, 20);
  }
}

#content {
  h2 {
    text-align: center;
    @include accentFont;
  }
}

.container {
  //max-width: 960px;
  max-width: 992px;
  //width: 992px;
  //background-color: fuchsia;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  @include breakpoint(mobile) {
    padding-left: 10px;
    padding-right: 10px;
  }

  @include breakpoint(tablet) {
    padding-left: 10px;
    padding-right: 10px;
  }

  .section_title {
    @include row;
    margin-top: 50px;
    margin-bottom: 25px;
    h2, h3 {
      @include span(12);
      text-align: center;
      @include accentFont;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
  .button_wrap {
    @include row;
    .button_wrap_inner {
      display: inline-block;
      margin: 0 auto;
    }
    @include breakpoint(tablet mobile) {
      margin: 0 0 25px;
    }
  }
  /*
  	.pull_quote{
  		@include span(12);
  	}
  */
}

#biography, #battle {
  background-color: lighten($accent-color, 10);
}

#biography, #narrative, #battle {
  .bio_bullets {
    @include row;
    margin-bottom: 15px;
    @include breakpoint(mobile) {
      margin-bottom: 15px;
    }
  }
  .list {
    //float: left;
    overflow: hidden;
    *margin-right: -1px;
    dl {
      border-left: 5px solid gray;
      padding-left: 5px;
      margin-bottom: 15px;
      dt {
        text-transform: uppercase;
        color: lighten($text-base-color, 20);
      }
    }
    @include span(4);
    @include breakpoint(mobile) {
      @include span(12);
    }

    @include breakpoint(tablet) {
      @include span(6);
    }

    @include breakpoint(desktop) {
      @include span(4);
    }

    @include breakpoint(large) {
      @include span(4);
    }
  }
  .section_content {
    float: left;
    margin-bottom: 50px;
    h5 {
      font-weight: bold;
      font-size: .8em;
    }
    .section_text {
      @include span(7);
      p {
        padding-bottom: 25px;
      }
      @include breakpoint(tablet mobile) {
        @include span(12);
      }
    }
    .section_portrait {
      @include span(5);
      @include breakpoint(tablet mobile) {
        @include row;
        padding: 0;
      }

      .section_portrait_inner {
        padding-left: 20px;
        @include breakpoint(mobile) {
          @include row;
          padding-left: 0px;
        }

        @include breakpoint(tablet) {
          padding-left: 0px;
        }

        .section_portrait_image {
          img {
            width: 100%;
            margin-bottom: 15px;
            @include breakpoint(mobile tablet) {
              margin-bottom: 0;
            }
          }
          @include breakpoint(mobile) {
            @include span(12);
            img {
              margin-bottom: 15px;
            }
          }

          @include breakpoint(tablet) {
            @include span(5);
          }
        }
        .section_portrait_text {
          h5 {
            text-transform: uppercase;
          }
          p {
            font-size: .8em;
          }
          @include breakpoint(mobile) {
            @include span(12);
          }

          @include breakpoint(tablet) {
            @include span(7);
            h5, p {
              padding-left: 5px;
            }
          }
        }
      }
    }
  }
}

#narrative {
  background-color: $section-divider-color;
  .container {
    position: relative;
    @include breakpoint(mobile tablet) {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
    }

    @include breakpoint(mid_tablet) {
      display: block;
      width: 80%;
    }
  }
  .info_medal {
    margin: 0 auto;
    max-width: 184px;
    img {
      width: 100%;
    }
    @include breakpoint(mobile tablet) {
      max-width: 184px;
      -webkit-box-ordinal-group: 1;
      -moz-box-ordinal-group: 1;
      -ms-flex-order: 1;
      -webkit-order: 1;
      order: 1;
      margin-top: 50px;
    }

    @include breakpoint(mid_tablet) {
      margin: 0 0;
      float: left;
      max-width: 257px;
    }
  }
  .section_title {
    @include breakpoint(mobile tablet) {
      -webkit-box-ordinal-group: 2;
      -moz-box-ordinal-group: 2;
      -ms-flex-order: 2;
      -webkit-order: 2;
      order: 2;
      margin-top: 40px;
      margin-bottom: 0px;
    }
  }
  .section_content {
    @mixin info-position {
      width: 100%;
      position: absolute;
      top: 150px;
      left: 0;
      .info_wrap {
        margin: 0 auto;
        width: 90%;
      }
      .info_moh_total {
        float: left;
      }
      .info_moh_army {
        float: right;
      }
    }
    @include old-ie {
      @include info-position;
    }

    @include breakpoint(desktop big_tablet) {
      @include info-position;
    }

    @include breakpoint(mobile tablet) {
      -webkit-box-ordinal-group: 3;
      -moz-box-ordinal-group: 3;
      -ms-flex-order: 3;
      -webkit-order: 3;
      order: 3;
      width: 100%;
      margin-bottom: 0px;
      .info_wrap {
        max-width: 255px;
        margin: 0 auto;
      }
      .info_moh_total, .info_moh_army {
        margin-top: 30px;
        float: none;
      }
    }

    @include breakpoint(mid_tablet) {
      width: 180px;
      float: right;
      .info_wrap {
        max-width: 257px;
      }
      .info_moh_total, .info_moh_army {
        margin-bottom: 30px;
        float: none;
      }
    }

    .info_moh_total {
      @include yep(svg) {
        background-image: url($info-moh-total-svg);
      }

      @include nope(svg) {
        background-image: url($info-moh-total-png);
      }
    }
    .info_moh_army {
      @include yep(svg) {
        background-image: url($info-moh-army-svg);
      }

      @include nope(svg) {
        background-image: url($info-moh-army-png);
      }
    }
    .info_moh_total, .info_moh_army {
      background-repeat: no-repeat;
      background-size: contain;
      height: 210px;
      width: 246px;
      @include breakpoint(mid_tablet) {
        height: 163px;
        width: 191px;
      }
    }
  }
  .button_wrap {
    width: 100%;
    margin: 20px 0 50px 0;
    .button_wrap_inner {
      margin: 0 auto;
      max-width: 311px;
      display: block;
      @include old-ie {
        max-width: 300px;
      }
    }
    @include breakpoint(mobile tablet) {
      margin: 0px 0 50px 0;
      -webkit-box-ordinal-group: 4;
      -moz-box-ordinal-group: 4;
      -ms-flex-order: 4;
      -webkit-order: 4;
      order: 4;
    }
  }
}

#citation {
  background-color: lighten($accent-color, 10);
  padding-bottom: 90px;
  #citation_content {
    @include row;
    #citation_left {
      #citation_left_inner {
        @include span(8);
        @include breakpoint(mobile tablet) {
          @include span(12);
        }

        h3#citation_title, h4#citation_subtitle {
          @include accentFont;
          text-transform: uppercase;
          font-weight: bold;
        }
        h4#citation_subtitle {
          margin-bottom: 30px;
        }
        p {
          margin-bottom: 30px;
        }
      }
    }
    #citation_right {
      @include span(4);
      @include breakpoint(tablet mobile) {
        @include row;
        padding: 0;
        margin-top: 25px;
      }

      #citation_right_inner {
        padding-left: 20px;
        @include breakpoint(tablet) {
          @include span(10);
          @include offset(1);
          padding-left: 0px;
        }

        @include breakpoint(mobile) {
          @include span(12);
          @include offset(0);
        }

        #citation_inner_video {
          .video_container {
            position: relative;
            padding-bottom: 56.25%;
            padding-top: 30px;
            height: 0;
            overflow: hidden;
            margin-bottom: 25px;
          }
          .video_container iframe,
          .video_container object,
          .video_container embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
        }
        #citation_inner_text {
          blockquote {
            @include blockquote;
            margin-bottom: 25px;
          }
          p {
            text-align: left;
          }
          p#byline {
            text-transform: uppercase;
          }
        }
      }
    }
  }
}

#stream_ad {
  display: none;
  background-color: $section-divider-color;
  padding-bottom: 25px;
  #stream_info {
    @include row;
    #stream_info_left {
      @include span(8);
      @include breakpoint(mobile tablet) {
        @include span(12);
      }

      blockquote {
        @include blockquote;
        margin-bottom: 25px;
      }
      .button {
        margin-top: 25px;
      }
    }
    #stream_info_right {
      @include span(4);
      display: block;
      img {
        width: 100%;
      }
      @include breakpoint(mobile tablet) {
        display: none;
      }
    }
    #live_stream_feed {
      @include span(12);
      iframe {
        width: 730px;
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
    }
    #yt_live_stream_feed {
      margin-bottom: 20px;
      width: 100%;
      .inner_container {
        padding-bottom: 56.25%;
        position: relative;
        .player {
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;
        }
      }
    }
  }
}

#dvids_ad {
  @include row;
  #dvids_inner {
    @include span(12);
    p {
      margin-top: 20px;
      text-align: right;
    }
    p#no_flash_msg {
      text-align: center;
    }
  }
}

#index_quote {
  background-color: $section-divider-color;
  #profile_quote {
    @include row;
    padding-bottom: 25px;
    #quote {
      @include span(8);
      @include breakpoint(mobile tablet) {
        @include span(12);
      }

      blockquote {
        margin-top: 45px;
        @include breakpoint(mobile tablet) {
          margin-top: 25px;
        }

        @include blockquote;
        margin-bottom: 25px;
      }
      p {
        text-align: left;
      }
    }
    #medal_wrap {
      @include span(4);
      float: right;
      @include breakpoint(mobile tablet) {
        @include row;
      }

      #medal {
        margin: 0 auto;
        text-align: center;
        img {
          max-width: 300px;
          width: 100%;
        }
      }
    }
  }
}

#unit_history {
  background-color: lighten($accent-color, 10);
  h3, h4 {
    @include accentFont;
    text-transform: uppercase;
  }
  h3, h4, h5 {
    font-weight: bold;
  }
  #unit_quote {
    @include row;
    margin-bottom: 50px;
    #unit_quote_inner {
      @include span(12);
      blockquote {
        @include blockquote;
      }
    }
  }
  #unit_history_content {
    margin-bottom: 15px;
    @include row;
    #unit_history_text {
      @include span(8);
      p, h4, .button {
        margin-bottom: 15px;
      }
      @include breakpoint(tablet mobile) {
        @include span(12);
        .button {
          margin-bottom: 0;
        }
      }
    }
    #unit_history_insignia {
      @include span(4);
      @include breakpoint(tablet mobile) {
        @include row;
        padding: 0;
        margin: 30px 0 0;
      }

      #unit_history_insignia_inner {
        padding-left: 20px;
        @include breakpoint(tablet mobile) {
          @include row;
          padding-left: 0px;
        }

        #unit_history_insignia_image {
          img {
            width: 100%;
            margin-bottom: 15px;
          }
          @include breakpoint(mobile) {
            @include span(5);
          }

          @include breakpoint(tablet) {
            @include span(4);
          }
        }
        #unit_history_insignia_text {
          h5 {
            font-size: 0.8em;
            text-transform: uppercase;
          }
          p {
            font-size: 0.8em;
            text-align: left;
          }
          @include breakpoint(mobile) {
            @include span(7);
            h5, p {
              padding-left: 0;
            }
          }

          @include breakpoint(tablet) {
            @include span(8);
            h5, p {
              padding-left: 5px;
            }
          }
        }
      }
    }
  }
}

.quote {
  margin-bottom: 25px;
  blockquote {
    @include blockquote;
  }
}

.hide {
  display: none;
}

.at4m-menu {
  top: 66px;
}
